# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# IDE settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test / coverage files
.pytest_cache/
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# Local datasets
data/raw/